<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http:://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"><body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<body class="container">
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>TenSanPham</th>
        <th>TenMauSac</th>
        <th>TenAnhSanPham</th>
        <th>SoLuongTon</th>
        <th>TrangThai</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list :${list}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.sanPhamEntity.ten}"></td>
        <td th:text="${list.mauSacEntity.ten}"></td>
        <td th:text="${list.anhSanPhamEntity.ma}"></td>
        <td th:text="${list.soLuongTon}"></td>
        <td th:text="${list.trangThai==1?'Con':'Het'}"></td>
        <td><a th:href="@{/san-pham-chi-tiet/detail/{id}(id=${list.id})}" class="btn btn btn-secondary"><span class="bi bi-app-indicator"></span></a></td>
        <td><a th:href="@{/san-pham-chi-tiet/delete/{id}(id=${list.id})}" class="btn btn-danger"><span class="bi bi-trash-fill"></span></a></td>
    </tr>
    </tbody>
</table>
<form action="" method="post" th:object="${sanPhamChiTietEntity}">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Id"  name="id" th:value="${sanPhamChiTietEntity.id}" disabled>
        </div>
        <div class="col">
            <label class="form-label">Title Category</label>
            <select class="form-select" aria-label="Default select example" name="categoryEntity">
                <option th:each="item: ${listCategory}" th:text="${item.title}" th:value="${item.categoryId}"></option>
            </select>
        </div>
        <div class="col">
            <label class="form-label">Title Category</label>
            <select class="form-select" aria-label="Default select example" name="categoryEntity">
                <option th:each="item: ${listCategory}" th:text="${item.title}" th:value="${item.categoryId}"></option>
            </select>
        </div>
        <div class="col">
            <label class="form-label">Title Category</label>
            <select class="form-select" aria-label="Default select example" name="categoryEntity">
                <option th:each="item: ${listCategory}" th:text="${item.title}" th:value="${item.categoryId}"></option>
            </select>
        </div>
    </div>
    <br>
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="TenMauSac" name="tenMauSac" th:value="${mauSacEntity.tenMauSac}">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="TrangThai" name="trangThai" th:value="${sanPhamChiTietEntity.trangThai}">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button th:formaction="@{/mau-sac/add}" type="submit" class="btn btn-primary">Add</button>
            <button th:formaction="@{/mau-sac/update/{id}(id=${mauSacEntity.id})}" type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>
</body>
</body>
</html>