<!DOCTYPE html>
<html xmlns:th="http:://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"><body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<body class="container">
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Ten San Pham</th>
        <th>Ma Danh Muc</th>
        <th>Ten Danh Muc</th>
        <th>TrangThai</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list :${list}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.sanPhamEntity != null ? list.sanPhamEntity.ten : 'Unknown'}"></td>
        <td th:text="${list.ma}"></td>
        <td th:text="${list.ten}"></td>
        <td th:text="${list.trangThai==1?'Con':'Het'}"></td>
        <td><a th:href="@{/danh-muc/detail/{id}(id=${list.id})}" class="btn btn btn-secondary"><span class="bi bi-app-indicator"></span></a></td>
        <td><a th:href="@{/danh-muc/delete/{id}(id=${list.id})}" class="btn btn-danger"><span class="bi bi-trash-fill"></span></a></td>
    </tr>
    </tbody>
</table>
<form action="" method="post" th:object="${danhMucEntity}">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Id"  name="id" th:value="${danhMucEntity.id}" disabled>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Ma Danh Muc" name="ma" th:value="${danhMucEntity.ma}">
        </div>

    </div>
    <br>
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="TrangThai" name="trangThai" th:value="${danhMucEntity.trangThai}">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Ten Danh Muc" name="ten" th:value="${danhMucEntity.ten}">
        </div>
    </div>
    <br>
    <div class="col">
        <label class="form-label">Ten San Pham</label>
        <select class="form-select" aria-label="Default select example" name="sanPhamEntity">
            <option th:each="sanPham : ${sanPhamEntity}" th:text="${sanPham != null ? sanPham.ten :'Unknown'}" th:value="${sanPham.id}"></option>
        </select>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button th:formaction="@{/danh-muc/add}" type="submit" class="btn btn-primary">Add</button>
            <button th:formaction="@{/danh-muc/update/{id}(id=${danhMucEntity.id})}" type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>
</body>
</html>